@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
     <h1>Road Accident Reporting System</h1>
     <p>This system allows users to report road accidents and view reports.</p>
     <p>Officials can analyze accident data to improve road safety.</p>
</div>